<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
import AddressBookForm from './AddressBookForm.vue'
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div>
    <AddressBookForm></AddressBookForm>
    <div>
      <div>
        <lable for="name">name: </lable>
        <input id="name" type="text" v-model="addressBookStore.address.name" />
      </div>
      <div>
        <lable for="gender">gender: </lable>
        <select id="gender" v-model="addressBookStore.address.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <lable for="tel">Tel: </lable>
        <input id="tel" type="text" v-model="addressBookStore.address.tel" />
        <div><button @click="addressBookStore.save">Save</button><button>Clear</button></div>
      </div>
      <div>
        <pre>{{ addressBookStore.address }}</pre>
        <!-- <pre>{{ addressList }}</pre> -->
        <div>
          <table>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>gender</th>
              <th>tel</th>
            </tr>
            <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
              <td>{{ ad.id }}</td>
              <td>{{ ad.name }}</td>
              <td>{{ ad.gender }}</td>
              <td>{{ ad.tel }}</td>
              <td>
                <button @click="addressBookStore.edit(ad.id)">Edit</button>
                <button @click="addressBookStore.remove(ad.id)">Delete</button>
              </td>
            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}</style>
