<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['Hello Grade F', 'Hello Grade D', "Hello XD"]
function send(message: string) {
  messages.value.push(message)
  answersWithComputer()

}
function answersWithComputer() {
  const ranAns = Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns]
  // console.log(answer + ranAns)
  messages.value.push(answer)
  
}
</script>

<template>
  <div>
    <MessageList ref ="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>

