<script setup lang="ts">
import { ref, defineExpose } from 'vue';

const msgList = ref<HTMLElement | null>(null)
const prop = defineProps<{
    messages: string[]
}>()
function updateUI() {
    console.log('Update UI')
    msgList.value!.scrollTop = msgList.value!.scrollHeight
}
defineExpose( {updateUI} );
</script>
<template>
    <div ref="MsgList" style="height: 500px; overflow-y: auto;">
        <div v-for="(msg, index) of messages" :key="index">{{ msg }}</div>
    </div>
</template>

<style scoped>
input,
button {
    font-family: 'Kanit';
    font-size: 20pt;
}
</style>